<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="image/404error.jpg" alt="Mihir" class="img-fluid" title="Mihir project">
                      </figure>
                    </div>

                     <!-- left side div -->
                      <div class="col-md-6 col-12 main_header_left">
                          
                          <h1> <span class="text_clr"> ERROR</span> OOPS</h1>
                          <a href="/"> <button>GO Back</button></a>
                          
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <!-- footer code -->
     {{>footer}}
   
</body>
</html>