<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="image/New Project.png" alt="Mihir" class="img-fluid" title="Mihir project">
                      </figure>
                    </div>

                     <!-- left side div -->
                      <div class="col-md-6 col-12 main_header_left">
                          <p>Welcome to Weather app</p>
                          <h1>I AM A <span class="text_clr"> Web Developer </span> And A Student</h1>
                          <a href="/about"> <button>About me</button></a>
                    </div>
                </div>
            </div>    
         </div>
     </div>
    <!-- footer code -->
    {{>footer}}
   
</body>
</html>