@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;

}

.carousel-item{
    border: 4px solid rgb(64, 221, 255);
    box-shadow: rgb(64 221 255) 0px 0px 12px;
}

:root{
    --main-bg: #1e272e;
    --main-colour : blue;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

html{
    font-size: 62.5%;
}

.row{
    margin: 0;
}

.main_menu {
    background-color: var(--main-bg);
    background-image: url(https://hacktoberfest.com/_next/static/media/sparkle.57c3794f.gif); 
    
}

.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem ;
}

.navbar li {
    margin-left: 2rem;
}

.navbar a {
    color: #fff;
    font-size: 1.8rem;
}

.navbar a:hover{
    color: var(--main-colour);
}

.navbar-toggler {
    background-color: grey;
    
}

.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-colour);
}

@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.main_header{
    
    background: linear-gradient(rgb(124, 127, 255) 0%, rgb(64, 221, 255) 100%);
    border: 4px solid rgb(64, 221, 255);
    transition: all 0.4s cubic-bezier(0.8, -1, 0.2, 1.5) 0s;
    -webkit-font-smoothing: antialiased;
  
}
.main_header_left{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p{
    font-size: 2rem;
}

.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.main_header_left .text_clr{
    color: var(--main-colour);
}

.main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
}

.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px red;
}

.main_header_right{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_right figure img{
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));
    max-width: 70%;
    align-items: center;    
}

.temp_form{
    width: 60%;
    position: relative;
    margin:5rem auto ;
}

.temp_form input[type="text"] {
    width: 100%; 
    padding: 2rem 5rem 2rem 2rem;
    background: #1e202b;
    color:white ;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem; ;
}

::placeholder {
    color: #bfc1c8;
}

.temp_form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
 }

 .temp_form input[type="submit"]:hover {
    color: #009ad8;
    background-color: #fff;
 }

.tempinformation{
    width: 40rem;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    padding: 1rem;
    font-family: "Roboto" , sans-serif;
}

.top_layer{
    width: 100%;
    height: 20%;
    background-color: #2d3034;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

.top_layer p{
color: #fff;
font-weight: 300;
padding: 2rem;
font-size: 1.4rem;
}

.main_layer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.main_layer #city_name {
    padding: 2rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}

.main_layer .middle_layer {
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.main_layer .middle_layer p,
.main_layer .middle_layer .fa {
    font-size: 7rem;
    font-weight: 900;
}

.fa {
    color: #009ad8;
}

sup {
    font-size: 6rem;
    margin-top: -2rem;
}

.data_hide {
    /* visibility: hidden; */
    transition: all 0.3s linear;
}



footer{
    width: 100%;
    background-color: var(--main-bg);
    margin: auto;

    background-image: url(https://hacktoberfest.com/_next/static/media/sparkle.57c3794f.gif); 

}

footer p{
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size: 1.4rem;
}

footer p .love:hover{
    color: red;

}

  /* responsive code */

  @media (max-width: 768px){
    .main_header_left{
        height: auto;
        margin: 5rem 0;
    }
    .main_header_right{
        height: auto;
        margin-top: 3rem;
    }
  }
